#Peer information specified in this file in the following format:
# [peer ID] [host name] [listening port] [has file or not]
#examples:
# 1001 lin114-00.cise.ufl.edu 6008 1
# 1002 lin114-01.cise.ufl.edu 6008 0
# 1003 lin114-02.cise.ufl.edu 6008 0
# 1004 lin114-03.cise.ufl.edu 6008 0
# 1005 lin114-04.cise.ufl.edu 6008 0
# 1006 lin114-05.cise.ufl.edu 6008 0

#Each line in the file represents a peer, with the first column being the peerID, 
#second column is host name where the peer is, third column is the port number at which the peer listens
#fourt column specifies whether it has the file or not (1 meaning that the peer has the complete
#file and 0 meaning that it does not have the file)
